<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @config_var.name %>
</p>

<p>
  <b>Value:</b>
  <%= @config_var.value %>
</p>


<%= link_to 'Edit', edit_config_var_path(@config_var) %> |
<%= link_to 'Back', config_vars_path %>
